<%- include("partials/header.ejs") %>

<h1 class="titulos-inc">Incidencias generadas</h1>

<div class="busqueda-filtros">
    <form action="/incidencias" method="GET">
        <select name="estado" id="estado" onchange="this.form.submit()">
            <option value="">Filtrar por estado</option>
            <option value="Enviado" <%= estadoSeleccionado === 'Enviado' ? 'selected' : '' %>>Enviado</option>
            <option value="En proceso" <%= estadoSeleccionado === 'En proceso' ? 'selected' : '' %>>En proceso</option>
            <option value="Terminado" <%= estadoSeleccionado === 'Terminado' ? 'selected' : '' %>>Terminado</option>
            <option value="Liberado" <%= estadoSeleccionado === 'Liberado' ? 'selected' : '' %>>Liberado</option>
        </select>
    </form>
</div>

<div class="tabla-contenedor">
    <table class="tabla-incidencias">
        <thead>
            <tr class="columnas-incidencias">
                <th>ID</th>
                <th>Fecha de Creación</th>
                <th>Hora estimada de finalización</th>
                <th>hora de resolución</th>
                <th>Departamento</th>
                <th>Edificio</th>
                <th>Localidad</th>
                <th>Equipo</th>
                <th>Encargado</th>
                <th>Descripción</th>
                <th>Clasificación</th>
                <th>Servicio</th>
                <th>Técnico Asignado</th>
                <th>Resolución</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% incidentes.forEach(incidente => { %>
                <tr class="filas-incidencias">
                    <td><%= incidente.id_incidente %></td>
                    <td><%= incidente.fecha_creacion.toLocaleString() %></td>
                    <td><%= incidente.hora_estimada || 'Pendiente' %></td>
                    <td><%= incidente.hora_resolucion || 'Pendiente' %></td>
                    <td><%= incidente.nombre_departamento %></td>
                    <td><%= incidente.nombre_edificio %></td>
                    <td><%= incidente.nombre_localidad || 'N/A' %></td>
                    <td><%= incidente.nombre_elemento %> (<%= incidente.codigo %>)</td>
                    <td><%= incidente.nombre_encargado %></td>
                    <td class="col-descripcion" title="<%= incidente.descripcion %>"><%= incidente.descripcion %></td>
                    <td><%= incidente.clasificacion || 'Pendiente' %></td>
                    <td><%= incidente.nombre_servicio || 'Pendiente' %></td>
                    <td><%= incidente.nombre_tecnico || 'Sin asignar' %></td>
                    <td class="col-descripcion" title="<%= incidente.resolucion %>"><%= incidente.resolucion || 'Pendiente' %></td>
                    <td><%= incidente.estado %></td>
                    <td>
                        <% if (incidente.estado === 'Terminado') { %>
                            <form action="/liberarIncidencia" method="POST">
                                <input type="hidden" name="id_incidente" value="<%= incidente.id_incidente %>">
                                <button type="submit" class="orden-trabajo-btn liberar-btn">Liberar</button>
                              </form>
                        <% } else if (incidente.estado === 'Liberado') { %>
                            <% if (incidente.tiene_calificacion > 0) { %>
                                <i class="fa-solid fa-circle-check"></i>
                            <% } else { %>
                                <button class="orden-trabajo-btn liberar-btn-calificar" data-id="<%= incidente.id_incidente %>">Calificar</button>
                            <% } %>
                        <% } else { %>
                            <button class="orden-trabajo-btn" >...</button>
                        <% } %>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const asignarButtons = document.querySelectorAll('.liberar-btn-calificar');

        asignarButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();

                // Obtiene el id del incidente desde el atributo data-id del botón
                const idIncidente = button.getAttribute('data-id');

                // Configuración del tamaño del popup
                const popupWidth = 600;
                const popupHeight = 600;

                // URL con el parámetro id_incidente
                const url = `/calificar?id_incidente=${idIncidente}`;

                // Calcula la posición para centrar el popup
                const left = (window.screen.width / 2) - (popupWidth / 2);
                const top = (window.screen.height / 2) - (popupHeight / 2);

                // Abre el modal en una nueva ventana
                window.open(url, 'Asignar Técnico', `width=${popupWidth},height=${popupHeight},top=${top},left=${left}`);
            });
        });
    });

</script>

<%- include("partials/footer.ejs") %>