<%- include("partials/header.ejs") %>

<div class = "contenedor-perfil">

    <div class = "perfil">
        <img src="images/user.png" height = "150" alt="icono de perfil">
        <p> <%= user.nombre %> <%= user.apellidos %></p>
        <p><%= user.puesto %></p>
        <p><%= departamento.nombre %></p>
    </div>

</div>

<%- include("partials/footer.ejs") %>