<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Tickets</title>
</head>

<body>
    <header>

        <nav>
    
        </nav>
    </header>

    <main>

        <div class = "contenedor">

            <div class = "imagen-lateral">
                <img src="images/mantenimiento.png" alt="hombre dando mantenimiento">
            </div>
    
            <div class = "registro-contenedor">
                <h1>Registro</h1>

                <form action="/registro" method = "POST" autocomplete="off">

                    <div class = "registro-nombre">
                        <i class="fa fa-user icon icon-r"></i>
                        <input type="text" name = "nombre" class = "input-r" placeholder="Nombre(s)" required>
                    </div>

                    <div class = "registro-apellidos">
                        <i class="fa-solid fa-user-tie icon-r"></i>
                        <input type="text" name = "apellidos" class = "input-r" placeholder="Apellido(s)" required>
                    </div>

                    <div class = "registro-nombre-usuario">
                        <i class="fa-solid fa-user-tag icon-r"></i>
                        <input type="text" name = "nombreUsuario" class = "input-r" placeholder="Nombre de usuario" required>
                    </div>


                    <div class = "registro-departamento">
                        <i class="fa-solid fa-list icon-r"></i>
                        <select name="departamento" id="departamento" required>
                            <option value="" disabled selected>Departamento</option>
                            <% for (let departamento of departamentos){ %>
                                <option value="<%= departamento.id_departamento %>"><%= departamento.nombre %></option>
                            <% } %>
                        </select>
                    </div>

                    <div class = "registro-cargo">
                        <i class="fa-solid fa-user-tie icon-r"></i>
                        <input type="text" name = "cargo" class = "input-r" placeholder="Puesto" required>
                    </div>

                    <div class = "registro-contraseña">
                        <i class="fa-solid fa-lock icon-r"></i>
                        <input type="password" name = "registroContraseña" class = "input-r" placeholder="Contraseña" required>
                    </div>

                    <div class = "confirmar-registro-contraseña">
                        <i class="fa-solid fa-lock icon-r"></i>
                        <input type="password" name = "confirmarRegistroContraseña" class = "input-r" placeholder="Confirmar contraseña" required>
                    </div>

                    <% if(locals.error){ %>
                        <label class = "error-registro"> <%= error %> </label>
                        <% } %>

                    <div class = "botones">
                        <a href="/inicio" class="btn iniciobtn">REGRESAR</a>
                        <input type = "submit" class = "btn registrobtn" value = "REGISTRAR">
                    </div>
                    
                </form>

                <% if(locals.exito){ %>
                    <label class = "exito-registro"> <%= exito %> </label>
                    <% } %>
    
            </div>
        </div>
    


<%- include("partials/footer.ejs") %>