<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Incidencias</title>
</head>
<body>  

    <div id="modal-incidencia">
        <div class="contenedor-incidencia">

            <h1>Generar Incidencia</h1>
            <form action="/agregarIncidencia" method="POST">

                <div class = "incidencias">

                
                    <div class = "incidencia-izquierda">
                        <label class = "etiqueta" for="nombreUusario">Nombre del encargado </label>
                        <input class = "input-incidencia" type="text" name = "nombreUsuario" placeholder="<%= nombre_usuario %>" disabled>
                        <label class = "etiqueta" for="edificio">Edificio </label>
                        <input class = "input-incidencia" type="text" name = "edificio" value = "<%= edificio.nombre %>" disabled>
                        <label class = "etiqueta" for="nombreElemento">Elemento a reportar </label>
                        <input class = "input-incidencia" type="text" name = "nombreElemento" value = "<%= componente.nombre %>" disabled>
                    </div>
                    
                    <div class = "incidencia-derecha">
                        <label class = "etiqueta" for="departamento">Departamento </label>
                        <input class = "input-incidencia" type="text" name = "departamento" value = "<%= departamento.nombre %>" disabled>
                        <label class = "etiqueta" for="localidad">Localidad </label>
                        <input class = "input-incidencia" type="text" name = "localidad" value = "<%= localidad.nombre %>" disabled>
                        <label class = "etiqueta" or="codigoElemento">ID del Elemento </label>
                        <input class = "input-incidencia" type="text" name = "codigoElemento" value = "<%= componente.codigo %>" disabled>
                    </div>
                </div>
                    <input class = "input-incidencia" type="hidden" name = "id_elemento" value=" <%= id_elemento %> ">
                    <input class = "input-incidencia" type="hidden" name = "id_departamento" value="<%= id_departamento %>">
                    <input class = "input-incidencia" type="hidden" name="id_encargado" value=" <%= id_encargado %> ">

                <div class = "contenedor-descripcion">
                    <label class = "etiqueta" for="descripcion">Descripción del incidente</label>
                    <textarea class = "input-incidencia descripcion" type="text" name = "descripcion" placeholder="Explique el problema a reportar..." autocomplete="off"></textarea>
                    <button class = "incidenciaBtn" type="submit">Enviar</button>
                </div>
                
            </form>
           
        
        </div>
    </div>